---
layout: default
title: Mainpage
---
<!-- Content
    ================================================== -->
  <div class="content">
    <main class="container">
    	<div class="row-fluid">
    		<section class="content">
    		  <h1>I BURN</h1>
                  <div class="sub-title">
                    A life in code
                  </div>
    		</section>
    		<ul class="entries">
    		{% for post in paginator.posts %}
    		  <li>
    		    <a href="{{ post.url }}">
    		        <h3>{{ post.title }}</h3>
                <time>{{ post.date | date: "%d %B %Y" }}</time>
                <div>{{ post.content |truncatehtml | truncatewords: 30 }}</div>
    		    </a>
    		  </li>
    		{% endfor %}
    		</ul>
    	</div>

      <div id="post-pagination">
        {% if paginator.previous_page %}
        <p class="prev">
          {% if paginator.previous_page == 1 %}
          <a rel="prev" class="a-hover" href="/">
            <i class="icon-arrow-left"></i> Previous
          </a>
          {% else %}
          <a href="/page{{paginator.previous_page}}"> Previous</a>
          {% endif %}
        </p>
        {% else %}
<!--         <p class="prev disabled">
          <span>Previous</span>
        </p> -->
        {% endif %}

        {% if paginator.next_page %}
        <p class="next">
          <a rel="next" class="a-hover"
             href="/page{{paginator.next_page}}">Next
            <i class="icon-arrow-right"></i>
          </a>
        </p>
        {% else %}
<!--         <p class="next disabled">
          <span>Next</span>
        </p> -->
        {% endif %}
      </div>

    </main>
  </div>

